html body{
    margin: 0;
    padding: 0px;
}

.container{
    justify-content: space-between;
    display: flex;
    flex-flow: wrap row;
    border: solid 1px #ccc;
    padding: 20px;
}

.outer{
    width: 120px;
    padding: 20px;
    box-sizing: border-box;
    border: solid 1px #f00;
    margin-bottom: 20px;
}

.div_1{
    height: 120px;
}

.div_2{
    height: 100px;
}

.div_3{
    height: 40px;
}

.div_4{
    height: 200px;
    border-color: #0f0;
}


/*当屏幕宽度大于640px时*/
@media all and (min-width: 641px){
    /*侧洲居中，主轴前后对齐侧轴，中间容器居中对齐*/
   .container{
       align-items: center;
   }
}

/*当屏幕宽度最大为640px时*/
@media all and (max-width: 640px){
    .container{
       align-items: flex-start;

    }

     .div_4{
         -webkit-order: -1;
     }

}