.body{
  margin: 0px;
  padding: 0px;
  height: 1386px;
  width: 980px;
}
.middle_img img{
  width: 641px;
  height: 301px;
}
.bottom_img img{
  height: 275px;
  width: 458px;
}
.left_content img{
  height: 260px;
  width: 160px;
}
.header{
  height: 63px;
  width: 892px;
  margin: 0 auto;
  background-color: #faaafa;
}
