*{
  padding: 0;
  margin: 0;
}

/*设置宽度*/
.center{
  position: absolute;
  width: 400px;
  height: 200px;
  background: #ccc;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -100px;
  /*当有超出部分时，不显示他们*/
  overflow: hidden;
}

.left,.right{
  position: absolute;
  border-radius: 50px;
  border: 50px solid transparent;
}

.left{
  border-bottom-color:#fc0;
  top: -50px;
  left: -50px;
  transform:rotate(-45deg);
}
.right{
  border-top-color:#fc0;
  bottom: -50px;
  right: -50px;
  transform:rotate(-45deg);
}
